{% macro build_list(comments) %}
<div class="comments">
  {% for c in comments %}
  <a name="comment-{{c.commentid}}"></a>
  <div class="comment">
    <div class="cbody loading">{{c.comment|e}}</div>

    <div id="comment-source-{{c.commentid}}"
         class="tex2jax_ignore"
         style="display:none">{{c.comment|e}}</div>
    
    <div class="cfooter clearfix">

      <div class="comment-action reply">
        <a title="Quote and reply to this comment"
           source-id="comment-source-{{c.commentid}}"
           href="#reply">Reply</a>
      </div>

      {% if c.commentid | can_delete_comment  %}
      <div class="comment-action edit">
        <a title="Edit this comment"
           href="/comment/edit/{{c.commentid}}">Edit comment</a>
      </div>
      {% endif %}
      {% if c.commentid | can_delete_comment  %}
      <div class="comment-action delete">
        <a title="Delete this comment"
           onclick="return confirm('Delete this comment ?')"
           href="/delete-comment/{{c.commentid}}">Delete</a>
      </div>
      {% endif %}

      <div class="comment-info">
        {% if c.userid == 1 %}
          Stranger
        {% else %}
          <a href="/{{c.username|e}}">{{c.username}}</a>
        {% endif %}
          at <a href="#comment-{{c.commentid}}"> {{c.createtime | e}} </a>
        {% if c.edited_at  %}
        <br> Edited 
        by <a href="/{{c.edituser | e}}">{{c.edituser}}</a>
        at {{c.edited_at | e}}
        {% endif %}
      </div>

    </div> <!-- /cfooter -->

  </div>

  {% endfor %}
</div> <!-- /comments -->
{% endmacro %}
