{% macro build_list(comments) %}
<div class="comments">
  {% for c in comments %}
  <div class="comment">

    <h4>
      {% if c.commentid | can_delete_comment  %}
      <a title="Delete this comment"
         class="reddish-btn delete-comment" href="/delete-comment/{{c.commentid}}">X</a>
      {% endif %}

      {% if c.userid == 1 %}
          Stranger:
      {% else %}
        <a href="/{{c.username|e}}">
          {{ c.username|e }}:</a>
      {% endif %}
        <a name="comment-{{c.commentid}}"></a>
    </h4>

    <div class="cbody">{{c.comment|e}}</div>

    <div id="comment-source-{{c.commentid}}"
         style="display:none">{{c.comment|e}}</div>
    
    <div class="cfooter clearfix">
      <span class="datetime"> {{ c.createtime|e }} </span>
      <a title="Quote and reply to this comment"
         source-id="comment-source-{{c.commentid}}"
         class="reply-btn"
         href="#reply">Reply</a>
    </div>
    <hr class="comment-end"/>
  </div>

  {% endfor %}
</div> <!-- /comments -->
{% endmacro %}
