{% macro build_list(comments) %}
<div class="comments">
  {% for c in comments %}
  <div class="comment preview">

    <div class="cbody loading">{{c.comment|e}}</div>

    <div id="comment-source-{{c.commentid}}"
         style="display:none">{{c.comment|e}}</div>

    <div class="cfooter clearfix">

      <div class="comment-info preview">
        By:
        {% if c.userid == 1 %}
        Stranger:
        {% else %}
        <a href="/{{c.username|e}}">{{c.username}}</a>
        {% endif %}
        <br> Date: <a href="#comment-{{c.commentid}}"> {{c.createtime | e}} </a>
      </div>

    </div> <!-- /cfooter -->

  </div>

  {% endfor %}
</div> <!-- /comments -->
{% endmacro %}
