{% extends "layout.html" %}
{% block bigcontainerclass %}white{% endblock %}

{% block scripts %}

<script>
$(function() {
  var availableKeywords = [
    {% set jn = joiner('","') %}
    "{% for k in keywords %}{{jn()|safe}}{{k.keyword}}{% endfor %}"
  ];

  var availableAuthors = [
    {% set jn = joiner('","') %}
    "{% for a in authors %}{{jn()|safe}}{{a.fullname}}{% endfor %}"
  ];

  var availableDomains = [
    {% set jn = joiner('","') %}
    "{% for d in domains %}{{jn()|safe}}{{d.domainname}}{% endfor %}"
  ];

  function split( val ) {
    return val.split( /,\s*/ );
  }
  function extractLast( term ) {
    return split( term ).pop();
  }

 function autocomplete_init (id, source) {
  $( id )
  // don't navigate away from the field on tab when selecting an item
    .bind( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB &&
           $( this ).data( "ui-autocomplete" ).menu.active ) {
        event.preventDefault();
      }
    })
    .autocomplete({
      minLength: 1,
      source: function( request, response ) {
        // delegate back to autocomplete, but extract the last term
        response( $.ui.autocomplete.filter(
          source, extractLast( request.term ) ) );
      },
      focus: function() {
        // prevent value inserted on focus
        return false;
      },
      select: function( event, ui ) {
        var terms = split( this.value );
        // remove the current input
        terms.pop();
        // add the selected item
        terms.push( ui.item.value );
        // add placeholder to get the comma-and-space at the end
        terms.push( "" );
        this.value = terms.join( ", " );
        return false;
      }
    });
 }

 autocomplete_init ('#keywords', availableKeywords);
 autocomplete_init ('#domains', availableDomains);
 autocomplete_init ('#authors', availableAuthors);


});
</script>

<link rel="stylesheet" href="/static/lib/jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.min.css">
<style>

.ui-autocomplete {
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    background-color: #F5f5f5;
}

.ui-state-focus {
    background-color: #A5B7C5;
}

</style>

{% endblock %}

{% block title %}Add new paper – {% endblock %}
{% block body %}


 {% if not user_authenticated() %} 
     <div style="margin-left:auto; margin-right:auto; max-width:37em">
      <p>
        Hello stranger, <br><br> if you want to upload a paper, became
        a recognized user by
        <a href="/login">login</a> or <a href="/reg">register</a>.
      </p>
     </div>
 {% else %}
  <form action="/paper/add" 
        method="post" 
        class="addarticleform"
        enctype="multipart/form-data">
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    <h1>Add a paper</h1>
    
    <div class=right>

      <label for=title> Title: </label>
      <input id=title type=text name=title autofocus
             required
             value="{{ request.form.title|e }}">
      <br>

      <label for=authors> Authors: </label>
      <input id=authors type=text name=authors
             required
             placeholder="author1, author2, etc"
             value="{{ request.form.authors|e }}">
      <br>


      <label for=domains> Domains: </label>
      <input id=domains type=text name=domains
             required
             value="{{ request.form.domains|e }}"
             />
      <br>

      <label for=keywords> Tags: </label>
      <input id=keywords type=text name=keywords
             required
             value="{{ request.form.keywords|e }}"
             list="domains"/>
      <br>

      <label for=pdf> PDF: </label>
      <input id=pdf type=file name=pdf accept="application/pdf">

      {% include "remark.html" %}

      <div class="url">
        In some cases, you might want to specify an optional URL
        associated with the paper. If the following field is not empty
        we'll save only the first page of the document, and the paper
        hyperlink will lead to the URL, specified here:
        <input id=url
               type=text name=url placeholder="http://example.com/paper.pdf"
               value="{{ request.form.url|e
        }}">
      </div>


    </div>


    
    <div class="send">
      <input class=btn type=submit value="Add the paper"/>
    </div>

  </form>
 {% endif %}
{% endblock %}
