{% extends "layout.html" %}
{% import 'comment/comments.html' as c %}

{% block title %} {{ entry.title|e}} – {% endblock %}

{% block body %}
      <div class="entry">

           <div class="vote-block">
            {% if user_authenticated() %}
             {% if liked %}
              <a 
                href="/paper/{{ entry.paperid|e }}/{{ entry.title|e}}/unlike"
                title="Unlike the paper"
                class="liked"
                >★</a>
              {% else %}
               <a href="/paper/{{ entry.paperid|e }}/{{ entry.title|e}}/like"
                  title="Click if you like the paper">☆</a>
              {% endif %}
            {% else %} {# anonymous #}
               <a class="anon"
                  href="javascript:alert('Please, login to like the paper.')"
                  title="You should login to like the paper">☆</a>
            {% endif%}
               <div class="likes"
                    title="{{liked_by|length}} people like the paper">
             {{liked_by|length}}
           </div>
          </div> <!-- /vote-block -->
        <!-- ★ ☆ -->

        <div class="paper">

          {% if entry.getlink | is_internal_pdf %}
          <a class="preview"
             href="{{ entry.getlink|e }}"
             title="Click to read the entire paper">
          {% else %}
          <a class="preview"
             href="{{ entry.getlink|e }}"
             onclick="return confirm('You really want to visit {{ entry.getlink|e }}?')"
             title="Click to read the entire paper">
          {% endif %}
            <img src="/static/memory/previews/{{ entry.paperid}}.png" 
                 alt="{{entry.title | e}}"/>
          </a>

          <div class="paper-info">
            <div class="downloadbut">

              {% if entry.getlink | is_internal_pdf %}
              <a class="btn"
                 target="_new"
                 title="Click to read the entiry paper"
                 href="{{ entry.getlink|e }}">
                Download</a>
              {% else %}
              Link:
              <a
                 target="_new"
                 title="Click to read the entiry paper"
                 href="{{ entry.getlink|e }}">
                {{ entry.getlink|e }}
              </a>
              {% endif %}

            </div>

            <div class="float-right">
              <div class="paper-primary-info">
                Authors:
                {% set comma = joiner(",") %}
                {% for a in authors %}{{
                comma()}}
                <a href="/author/{{a.fullname | e}}">{{a.fullname}}</a>{%
                endfor %}
                
                <br/> Liked by:
                {% set comma = joiner(",") %}
                {% for l in liked_by %}{{
                comma()}}
                <a href="/{{l.username | e}}">{{l.username}}</a>{% 
                endfor %}


                <br/>Domains:
                {% set comma = joiner(",") %}
                {% for d in domains %}{{
                comma()}}
                <a href="/domain/{{d.domainname | e}}">{{d.domainname}}</a>{% 
                endfor %}

                <br/> Tags:
                {% set comma = joiner(",") %}
                {% for k in keywords %}{{
                comma()}}
                <a href="/tag/{{k.keyword | e}}">{{k.keyword}}</a>{%
                endfor %}
              </div>

              <div class="paper-secondary-info">
                Uploaded by:
                <a href="/{{entry.username | e}}">{{entry.username}}</a>
                <br> Upload date: {{entry.createtime | e}}
                {% if entry.edited_at  %}
                <br>  Edited at: {{entry.edited_at | e}}
                <br> Edited by: <a href="/{{entry.edituser | e}}">{{entry.edituser}}</a>
                {% endif %}
                <div>
                  <br>
                  {% if entry.paperid | can_edit_paper  %}
                  <div class="edit-paper">
                    <a title="Edit the paper"
                       href="/paper/edit/{{entry.paperid}}">
                      edit the paper </a>
                  </div>
                  {% endif %}
                  {% if entry.paperid | can_delete_paper  %}
                  <div class="delete-paper">
                    <a title="Delete the paper"
                       onclick="return confirm('You really want to delete the paper ?')"
                       href="/paper/delete/{{entry.paperid}}">
                      remove the paper </a>
                  </div>
                  {% endif %}
                </div>
              </div> <!-- /secondary-info -->
            </div>
          </div>

        </div> <!-- /paper -->

        <hr style="max-width:60em"/>

        <div class="comment-block">
          <h3> Comments: </h3>
          
          {{ c.build_list(comments) }}

          {% include "comment/newcomment.html" %}
        </div>  <!-- /comment-block -->



      </div> <!-- /entry -->


{% endblock %}
