{% import 'comment/preview_comments.html' as c %}

      <div class="entry-preview">
        <div class="vote-block">
            {% if user_authenticated() %}
             {% if liked[entry.paperid] %}
              <a 
                href="/paper/{{ entry.paperid|e }}/title-placeholder/unlike"
                title="Unlike this paper"
                class="liked"
                >★</a>
              {% else %}
               <a href="/paper/{{ entry.paperid|e }}/title-placeholder/like"
                  title="Click if you like this paper">☆</a>
              {% endif %}
            {% else %} {# anonymous #}
               <a class="anon"
                  href="javascript:alert('Please, login or register to like the paper.')"
                  title="You should login or register to like the paper">☆</a>
            {% endif%}
          <div class="likes"
               title="{{liked_by[entry.paperid]|length}} people like this paper">
            {{liked_by[entry.paperid]|length}}
          </div>
        </div>
        <!-- ★ ☆ -->

        <div class="paper-preview">

          <a class="preview" 
             href="/paper/{{ entry.paperid|e }}/{{ entry.title|e}}"
             title="Read the paper and discussion">

            <img src="/static/memory/previews/{{ entry.img}}"
                 alt="{{entry.title | e}}"/>
          </a>
        </div> <!-- /paper-preview -->
        
        <div class="comment-block-preview">

          <h3 style="margin-top: 3ex"> Comments: </h3>

          {{ c.build_list(commentsHead[entry.paperid]) }}

          {% if commentsTail[entry.paperid] %}
          <a class="seeallcomments"
             href="/paper/{{ entry.paperid|e }}/{{ entry.title|e}}"
             title="See all comments"> … </a> 

          {{ c.build_list(commentsTail[entry.paperid]) }}
          {% endif %}



        </div>  <!-- /comment-block-preview -->
        
         <a class="discussbtn" href="/paper/{{ entry.paperid|e }}/{{
             entry.title|e}}" 

             title="Read the paper, add your comments">
             Read the paper, add your comments… </a>

      </div> <!-- /entry-preview -->

      <div class="spacer"></div>






