{% macro show_review(review) %}
  <div class="comments">
    {% set hrrr = joiner('<hr style="width: 95%;"/>') %}

    {{ hrrr()|safe }}

    <div class="comment">
      <div class="cbody loading">{{review.review|e}}</div>
      <div class="last-updated" style="top:0">
        <span>
          updated by
          {% if review.userid == 1 %}
          Stranger
          {% else %}
          <a href="/{{review.username|e}}">
            {{ review.username|e }}:</a>
          {% endif %}
          <a name="review"></a>
          at {{ review.createtime|e }}
        </span>
      </div>

    </div>
  </div>
{% endmacro %}
