from datetime import timedelta

DATABASE = 'db/papers.db'
SALT1=b"some random sstringg"
SALT2='another random string'

MAIL_SERVER = 'smtp.hushmail.com:25'
MAIL_USER = 'username'
MAIL_PASS = 'password'


# Load default config and override config from an environment variable
appc = dict(
    DEBUG=True,
    SERVER_NAME = 'localhost:5000',
    SECRET_KEY=SALT2,
    PERMANENT_SESSION_LIFETIME=timedelta(days=999),
    UPLOAD_FOLDER = 'static/memory/pdfs',
    PREVIEW_FOLDER = 'static/memory/previews',
)

