body {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #EEEEEE;
}



#banner {
    color: white;
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.7em;
    background-color: #73A0C5;
    border-radius: 1ex 1ex 0 0;
    overflow: hidden;
}

#banner a {
    color: white;
    text-decoration: none;
}

#banner a:hover {
    color: #F7FCFF;
    text-decoration: underline;
}

#banner h1 {
    float: left;
}

#banner h1 a {
    text-decoration: none;
}

#banner .menuitem {
    text-align: right;
    margin-right: 1em;
    float: right;
}


#banner-bottom a {
   color: grey;
}

.paypal-button {
    float: left;
}

.about-info {
    float: left;
    margin-left: 1ex;
}

#banner-bottom {
    float: right;
    color: grey;
    margin:0;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    text-align: right;
    margin-left: 7%;
    margin-right: 7%;
/*    background-color: #73A0C5;*/
}

#banner h1 {
    margin: 0;
    padding: 0;
    margin-top: 0.5ex;
}

.white {
    background-color: #FFFFFF;
}

#big-container {
/*    background-color: #FFFFFF; */
    margin-top: 1em;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 1ex;
    border-radius: 1ex 1ex 1ex 1ex;
    overflow: hidden;
}


.entry-preview {
    margin: 0em;
    padding: 0em;
    clear: both;
    display: block;
    overflow: hidden;
    border-radius: 0 0 1ex 1ex;
}

.entry { /* onepaper */
    margin: 0em;
    padding: 0em;
    clear: both;
    display: block;
    overflow: hidden;
}

.entry-preview:nth-child(even)  {
    background-color: #FFFFFF;
}

.entry-preview:nth-child(odd)  {
    background-color: #FFFCFA;
}

.entry:nth-child(even)  {
    background-color: #FFFFFF;
}

.entry:nth-child(odd)  {
    background-color: #FFFCFA;
}


.vote-block {
    position: absolute;
    width: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    margin-top: 2em;

    background: inherit;
    color: #73A0C5;
    text-align: center;
}

.entry-preview .vote-block {

}

.entry-preview .vote-block a {

}


.vote-block div {
    margin-left: auto;
    margin-right: auto;
}


.vote-block  a {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    color: #73A0C5;
    font-size: 1.8em;
}


hr {
    border-top: 1px solid #dddddd;
}

.paper-preview {
    float: left;
    border-right: 3px double #ddd;
    height: 45em;
    overflow: hidden;
    padding-left: 2.8em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 37vw;
    min-width: 35em;
}
.paper-preview .preview img {
    width: 100%;
}

.paper {
    max-width: 50em;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.paper .preview img {
    max-width: 50em;
}
.paper-info {
    text-align: left;
    overflow: hidden;
}
.comment-action {
    float:left;
    margin-top: 4em;
    z-index: 1;
}
.paper-action a {
    float: left;
    font-size: large;
    border-radius: 0.5ex;
    border: solid 1px #73A0C5;
    background-color: white;
    color: black;

    padding-top: 0.4ex;
    padding-bottom: 0.4ex;
    padding-left: 1ex;
    padding-right: 1ex;
    text-decoration: none;
    text-align:center;
    cursor: pointer;

    margin-right: 1em;
    
    margin-bottom: 0.7em;
    margin-top: 0.3em;
}
.paper-action a:hover {
    background-color: #73A0FF;
    color: white;
}
.paper-action.download a{
    background-color: #73A0C5;
    color: white;
}
.paper-action.download a:hover {
    background-color: #73A0FF;
}
.paper-action.edit a:hover {
    background-color: #57C59C;
}
.paper-action.delete a:hover {
    background-color: #DE5139;
}



.float-right {
    float: right;
}

.discussbtn {
    font-size: large;
    border: solid 0px #73A0C5;
    background-color: #73A0C5;
    padding: 1ex;
    padding-left: 3em;
    text-decoration: none;
    text-align:center;
    color:white;
    border-radius: 0 0 1ex 1ex;
    background: linear-gradient(to bottom,  #FFFFFF 0%,#73A0C5 10%);
    display: block;
}

.discussbtn:hover {
    background-color: #73A0FF;
    background: linear-gradient(to bottom,  #FFFFFF 0%,#73A0FF 10%);
}


.paper-primary-info {
    font-size: small;
    line-height: 1.5em;
    max-width: 30em;
    float: left;
    background-color: #FFFAFA;
    padding: 0.7em;
    border-radius: 1ex;
    border: 1px solid #DDDDDD;
}
.paper-secondary-info {
    margin-left: 1em;
    font-size: small;
    line-height: 1.5em;
    max-width: 20em;
    float: left;
    background-color: #FAFAFF;
    padding: 0.7em;
    border-radius: 1ex;
    border: 1px solid #DDDDDD;
}

.spacer {
    background: #EEEEEE;
    height: 2em;
}

.blueline {
    background: #73A0C5;
    height: 1em;
    border-radius: 1ex 1ex 0 0;
}


/* hack */

.blueline:nth-child(1) {
    display: none;
}

.comment-block-preview {
    width: *;
    overflow: hidden;
    text-align: left;
    padding-top: 1em;
    height: 48em;
}

.comment-block-preview .comments .comment:nth-child(odd) {
}
.comment-block-preview .comments .comment:nth-child(even) {
}
.comment-block .comments .comment:nth-child(odd) {
}
.comment-block .comments .comment:nth-child(even) {
}


.comment-block-preview > h3 {
    margin-left: 1em;
}

.comment-block {
    max-width: 50em;
    overflow: hidden;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.comment {
    padding-top: 0.3em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin-bottom: 3.5em;
    border-radius: 0.5ex;
    border: solid 1px #DDDDDD;
}
.comment.preview {
    margin-left: 1em;
    margin-right: 1em;
}
.comment-info {
    font-size: 0.7em;
    line-height: 1.5em;
    max-width: 30em;
    float: right;
    background-color: #FFFAFA;
    padding: 0.7em;
    border-radius: 0.5ex;
    border: solid 1px #DDDDDD;
    position: relative;
    top: 4.5rem;
    z-index: 1;
}
.comment-info.preview {
    margin-top: 3em;
    top: 1.5em;
}
.comment-action {
    float:left;
    margin-top: 4em;
    z-index: 1;
}
.comment-action a {
    float: right;
    font-size: small;
    width: 9em;
    border-radius: 0.5ex;

    border: solid 1px #73A0C5;
    background-color: white;
    color: black;

    padding-top: 0.4ex;
    padding-bottom: 0.4ex;
    padding-left: 1ex;
    padding-right: 1ex;
    text-decoration: none;
    text-align:center;
    cursor: pointer;

    position: relative;
    top: 1.5ex;
    z-index:20;
    margin-right: 1em;
}
.comment-action a:hover {
    background-color: #73A0FF;
    color: white;
}
.comment-action.edit a:hover {
    background-color: #57C59C;
}
.comment-action.delete a:hover {
    background-color: #DE5139;
}

.cfooter {
    margin-top: -4em;
}

.comment .author {
    font-size: small
}

.comment .datetime {
    font-style: italic;
    font-size: small;
    float: left;
}

.new-comment {
    margin: 1em;
}

.new-comment textarea {
    width: 100%;
    height: 17.66rem;
    border: none;
}

.new-comment .preview {
    width: 100%;
    min-height: 20rem;
}

.hint {
    text-align: right;
    color: #555555;
    font-size: small;
}

.hint a{
    color: #555555;
}

.send{
    margin-top: 1em;
    text-align: left;
}

.usualform {
    max-width: 25em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.usualform input {
    border-width: 0 0 2px 0;
    margin-bottom: 1ex;
    border-color: #73A0C5;
}

.usualform input[readonly] {
    border-width: 0 0 0px 0;
    border-color: #999;
}

.usualform h1 {
    margin-left: 1ex;
}

.addarticleform {
   max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.addarticleform input[type=text] {
    border-width: 0 0 2px 0;
    margin-bottom: 1ex;
    border-color: #73A0C5;
    width: 30em;
}

.addarticleform input[type=file] {
    width: 30em;
    margin-bottom: 1ex;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.btn {
    border: solid 1px #73A0C5;
    background-color: #73A0C5;
    padding-top: 0.4ex;
    padding-bottom: 0.4ex;
    padding-left: 1ex;
    padding-right: 1ex;
    text-decoration: none;
    text-align:center;
    font-size: large;
    font-family: serif;
    color: white;
    cursor: pointer;
    border-radius: 0.5ex;
}
.btn:hover {
    background-color: #73A0FF;
}
.reddish-btn {
    border: solid 1px #CF685E;
    color: white;
    background-color: #CF685E;
    padding-top: 0.4ex;
    padding-bottom: 0.4ex;
    padding-left: 1ex;
    padding-right: 1ex;
    text-decoration: none;
    text-align:center;
    font-size: large;
    font-family: serif;
    color:white;
    cursor:pointer;
    border-radius: 0.5ex;
}
.reddish-btn:edit {
    background-color: #DE5139;
    color: white;
}
.reddish-btn:hover {
    background-color: #DE5139;
    color: white;
}


.new-comment .send input:hover {
    background-color: #73A0FF;
}

.new-comment h4 {
    margin-left: -1em;
    margin-bottom: 1ex;
}

.error {
    color:#FF0000;
}

.flashes {
    margin-left: auto;
    margin-right: auto;
    color:#FFFFFF;
    background-color: #73A0FF;
    padding: 1ex;
    padding-left: 2em;
    padding-right: 1em;
    text-align:center;
    left: 30%;
    width: 30em;
    border-radius: 1ex 1ex 1ex 1ex;
    margin-bottom: 0;
}

.pages {
    color: #73A0C5;
    font-width: bold;
    padding-top: 1ex;
    text-align: left;
    background-color: #EEEEEE;
    padding-bottom: 1ex;
    border-bottom: solid 1px #73A0C5;
}

.pages .text {
    font-size: 1.3em;
    color: #777;
}

.pages span a {
    padding: 1ex;
    background-color: #73A0c5;
    color: white;
}

.pages span a:hover {
    background-color: #73A0ff;
    padding-top: 1.6ex;
}

.pages span a.selectedpage {
    background-color: #73A0ff;
    padding-top: 1.6ex;
}

.pages span {
    color: #999999;
}

#banner .search {
    text-align: right;
    margin-top: 1ex;
}

.search input[type=search] {
    color: white;
    border: solid 1px;
    border-radius: 0.5ex 0 0 0.5ex;
    padding-left: 0.4ex;
    border-color: white;
    background-color: #73A0C5;
/*    width: 85%; */
}

.search input[type=submit] {
    margin-left: 0px;
    border: solid 1px;
    border-left: none;
    border-radius: 0 0.5ex 0.5ex 0;
    padding-left: 0.4ex;
    color: white;
    border-color: white;
    background-color: #73A0C5;
    width: 13%;
}



.search-big {
    font-size: large;
    text-align: center;
    margin-top: 1em;
}

.search-big input[type=search] {
    border: solid 1px;
    border-radius: 0.5ex 0 0 0.5ex;
    padding-left: 0.4ex;
    border-color: #73A0C5;
    width: 80%;
}

.search-big input[type=submit] {
    margin-left: 0px;
    border: solid 1px;
    border-left: none;
    border-radius: 0 0.5ex 0.5ex 0;
    padding-left: 0.4ex;
    border-color: #73A0C5;
    background-color: white;
}


.list-of-papers li {
    margin-bottom: 1em;
    font-size: small;
}


.list-of-papers li a.title {
    font-size: large;
}

.list-of-papers li a.title:hover {
    color: #73A0C5;
    font-size: large;
}


.list-of-papers .short-description {
    color: #555555;
    margin-left: 1em;
    margin-top: 0.4ex;
}


.seeallcomments {
    color: black;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: -4rem;
    margin-bottom: -3rem;
    display: block;
}

.catalog-search {
    padding: 2em;
}

.catalog-lists {
    padding-left: 2em;
    padding-right: 2em;
    background-color: #FBFBFF;
    border-color: #DDDDDD #F0F0F0 #DDDDDD #DDDDDD ;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    line-height: 1.5em;
}

.catalog-right h4 {
    margin-bottom: 0.7ex;
}

@media only screen and (max-width: 500px){
    .catalog-right {
        width: auto;
    }
    .catalog-left {
        width: auto;
    }
}

.likes {
/*    cursor:point;*/
}

.remark {
    text-align: left;
    background-color: #FBFBFF;
    padding: 1em;
    border-radius: 1ex;
    border: 0px solid #DDDDDD;
}

.userinfo {
    padding: 1em 1em 2em 1em;
/*    background-color: #FBFBFF;*/
    background-color: #FFFCFA;
    border-radius: 1ex;
    margin-bottom: 1em;
}


.userinfo h3 {
    margin-bottom: 0.5ex;
}

.faq {
    margin: 2em;
}

.faq dt {
    margin-top: 2em;
    margin-bottom: 1ex;
    font-size: large;
    font-weight: bold;
}

.about {
    font-size: large;
    margin: 2em;
}
.about li {
    margin: 1.3em;
}
.about p {
    margin-top: 1ex;
    margin-left: 1ex;
    font-size: 80%;
}
.about ul {
    list-style: none;
}
.about ul li:before{
/*    content: '★'; */
/*    margin: 0 1em;   */
}

.partners {
    font-size: large;
    margin: 2em;
}
.partners h4 {
    margin-bottom: 0.3ex;
}
.partners ul li:before{
    content: '★'; 
    margin: 0 1ex;
}
.partners li {
    margin: 1ex;
}
.partners ul {
    padding-left: 0;
    list-style: none;
}
.partners .individuals {
    margin-left: 1.3ex;
}


.url {
    text-align: left;
    background-color: #FBFBFF;
    padding: 1em;
    border-radius: 1ex;
    border: 0px solid #DDDDDD;
}
.edit-comment-block {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

.comment-block-preview .delete-comment {
    display: none;
}

/* css tabs
   Originalle written by llgruff
   From https://codepen.io/llgruff/pen/ZGBxOa
*/


div.tab-frame input{
    display: none;
}
div.tab-frame label{
    display: block;
    float: left;
    padding: 5px 10px;
    cursor: pointer;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-radius: 1ex 1ex 0 0;
}
div.tab-frame label:last-of-type {
    border-right: 1px solid #aaa;
}
div.tab-frame input:checked + label{
    background: #73A0C5;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-radius: 1ex 1ex 0 0;
    color: white;
    cursor: default;
}
div.tab-frame div.tab{
    border: 1px solid #aaa;
    display: none;
    clear: left;
    padding: 1ex;
}
div.tab-frame div.tab.tp0 {
    padding-top: 0;
    padding-bottom: 0;
}

div.tab-frame1 input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame1 input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame1 input:nth-of-type(3):checked ~ .tab:nth-of-type(3){
    display: block;
}
div.tab-frame2 input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame2 input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame2 input:nth-of-type(3):checked ~ .tab:nth-of-type(3){
    display: block;
}

blockquote {
    color: #6a737d;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0;
    border-left: 3px solid #73A0C5;
}
blockquote > blockquote {
    border-color: #CF908D;
}
blockquote > blockquote > blockquote {
    border-color: #57C59C;
}
blockquote > blockquote > blockquote > blockquote {
    border-color: #C957F8;
}
blockquote > blockquote > blockquote > blockquote > blockquote {
    border-color: #F8B829;
}
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote {
    border-color: #8DA1C5;
}
blockquote > blockquote > blockquote > blockquote > blockquote > blockquote > blockquote {
    border-color: #888;
}

blockquote p:first-of-type {
    margin-top: 0;
}
blockquote p:last-of-type {
    margin-bottom: 0;
}

p {
    margin-bottom: 1em;
    margin-top: 1ex;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.last-updated {
    float: right;
    font-size: small;
    position: relative;
    top: 2ex;
}


.loading {
    content: "";
    border: 0.8ex solid #f3f3f3; /* Light grey */
    border-left: 0.8ex solid #CF908D; /* Blue */
    border-right: 0.8ex solid #73A0C5; /* Blue */
    border-radius: 50%;
    width: 1.4em;
    height: 1.4em;
    color: white;
    display: block;
    margin-left: 35%;
    color: rgba(0, 0, 0, 0) !important;
/*    animation: slidein 7s linear 1s infinite running; */
    animation: spin 7s linear 1s infinite running;
}
.loading > * {
    opacity: 0 !important;
}
@-webkit-keyframes slidein {
 from { margin-left:0 }
 to { margin-left:100% }
}
@keyframes slidein {
 from { margin-left:0 }
 to { margin-left:100% }
}
@-webkit-keyframes glow {
 from { background-color: #73A0C5 }
 to {   background-color: white }
}
@keyframes glow {
 from { background-color: #73A0C5 }
 to {   background-color: white }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 
