{% extends "layout.html" %}
{% block title %}About – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}

<div class="about">

  <h3> So, what is <a href="/">Papers<sup>γ</sup></a> ?</h3>
<ul>
  <li> Library of papers/preprints written by you. </li>
  <li> Comfortable place to discuss articles/preprints.
       <p>
       Use it to organise an open peer review process or
       to discuss final versions of papers. </p>
  </li>
  <li> List of papers/preprints that you like
  <p>
    Here "you" can  mean a "new generation  scientific journal".  When
    such journal  <em>likes</em> (using  a symbol ☆)  a paper  it means
    that this article got published.
  </p>
  </li>
</ul>


</div>

 

{% endblock %}
