{% extends "layout.html" %}
{% block title %}About – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}

<div class="about">

  <h3> What is Papers<sup>γ</sup> ?</h3>

  <ul>
    <li> Comfortable place to discuss scientific articles
      <p>
        Use it to organise open reading groups, to discuss
        papers with authors and other readers.
      </p>
    </li>

    <li> List of papers you like
      <p>
        Here "you" can refer to a group account of a particular
        research team. <br>

        Group acoount can <em>like</em> (using a ☆-shaped button) a
        paper to <span class="mymark">highlight</span> <br> the importance of an article for the
        field.
      </p>
    </li>

    <li> Open source and open data scientific platform
      <p>
        Please see <a href="/faq">this page</a> to learn more about how
        Papers<sup>γ</sup>'s use your data.
      </p>
  </ul>

  By joining the expansion of open science initiatives,
  Papers<sup>γ</sup> will grow bigger and stay a convenient place to
  discuss scientific papers.  You have numerous possibilities to contribute:
  organise a reading group in your team, upload articles,
  comment and answer, donate time or became a gold sponsor.

  Just <a href="mailto:kerzolster@gmail.com">contact me</a> if you wish so.

</div>


{% endblock %}
