{% extends "layout.html" %}
{% block title %}Login – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}

<pre style="margin:2em;">
Salut flood,

Lionel m'a posé une très bonne question :
>
> Peux-tu m'expliquer en quoi consiste la page dont tu as envoyé le lien sur
> flood?
> Est-ce qu'il s'agit de discuter ces articles ou est-ce que c'est un
> répertoire des papiers intéressants?

En fait, en ce moment, personne ne sait comment utiliser au mieux ce site.
Moi, je pense qu'il est à la fois un répertoire et une place pour des discussions.
Donc, il y a plusieures façons d'utiliser notre "Papers.complexnetworks.fr" :
(je les ai écrit dans l'ordre de les plus simples à les grandioses)  

0. Répertoire des papiers écrits par toi
   (comme http://hal.archives-ouvertes.fr/ ou https://www.academia.edu/ ou http://arxiv.org/)

1. Répertoire des papiers qui tu trouves intéressants.
   (Si tu l'aimes, tu cliques sur l'étoile)

2. Discussions sur le texte de l'article
   (par exemple, les typos)

3. Discussions autour d'articles
   (comme ici : http://golem.ph.utexas.edu/category/2014/01/the_magnitude_of_a_graph.html)

4. Moteur pour "Open peer review"
   (par exemple, comme ici : http://www.naboj.com/reviewer.php?reviewer=9
    http://en.wikipedia.org/wiki/Open_peer_review
    http://en.wikipedia.org/wiki/Open_Peer_Commentary
   )



Pourtant, il est une autre bonne idée qui ne rentre pas encore dans le concept global:
10. Co-écriture des articles
    (comme http://ncatlab.org/)


A+
Sergey  
</pre>

{% endblock %}

