{% extends "layout.html" %}
{% block title %}F.A.Q. – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}


<dl class="faq">

  <dt>Why is the system called <i>papers gamma</i>? Why γ?</dt>
  <dd>
    Papers<sup>γ</sup> is named
    after <a href="https://en.wikipedia.org/wiki/Gamma_wave">γ-wave</a>,
    a pattern of neural oscillation in humans that is possibly related
    to conscious perception.  Also it symbolize the possibility to use
    LaTeX-formulas inside comments.
  </dd>
  
  <dt>What do you do you do with my papers/comments/user-info?</dt>
  <dd>We distribute them across scientific community.<br>
    By using this site you authorise us to do this.<br>
    Also you can post any public domain content.
  </dd>
  
  <dt>I found a bug? How can I report it?</dt>
  <dd>You   can  either   <a  href="mailto:papersite@yandex.ru">write
      me</a> a mail or create
    <a href="http://github.com/kerzol/papers/issues">a ticket</a>.
  </dd>

  <dt>Where is the source code?</dt>
  <dd> Feel free to consider <a href="http://github.com/kerzol/papers">this page</a>.
  </dd>

  <dt>Which features are planned for the near future?</dt>
  <dd> Please, check our <a href="https://github.com/kerzol/papers/blob/master/TODO">current TODO list</a>.
  </dd>
  
  <dt>Do you accept donations?</dt>
  <dd>Of course we do:
    <ul>
      <li>
        Use this button {% include "donate.html" %}
      </li>
      <li>
        Or <a  href="mailto:kerzolster@gmail.com">contact me</a> 
        if you want to became a sponsor or partner.
      </li>
    </ul>
  </dd>


</dl>

{% endblock %}

