{% extends "layout.html" %}
{% block title %}Login – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}


<dl class="faq">
  <dt>What do you do you do with my papers/comments/user-info?</dt>
  <dd>We distribute them across scientific community.
  </dd>

  
  <dt>I found a bug? How can I report this?</dt>
  <dd>You   can  either   <a  href="mailto:kerzolster@gmail.com">write
      me</a> a mail or create
    <a href="http://github.com/kerzol/papers">a ticket</a>.
  </dd>

  <dt>Where can I download a source code?</dt>
  <dd>You                           can                          clone
  it <a href="http://github.com/kerzol/papers">here</a>.
</dd>


</dl>

{% endblock %}

