{% extends "layout.html" %}
{% block title %}F.A.Q. – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}


<dl class="faq">
  <dt>What do you do you do with my papers/comments/user-info?</dt>
  <dd>We distribute them across scientific community.<br>
    By using this site you authorise us to do this.<br>
    Also you can post any public domain content.
  </dd>
  
  <dt>I found a bug? How can I report it?</dt>
  <dd>You   can  either   <a  href="mailto:papersite@yandex.ru">write
      me</a> a mail or create
    <a href="http://github.com/kerzol/papers/issues">a ticket</a>.
  </dd>

  <dt>Where is the source code?</dt>
  <dd> Feel free to consider <a href="http://github.com/kerzol/papers">this page</a>.
  </dd>

  <dt>Which features are planned for the near future?</dt>
  <dd> Please, check our <a href="https://github.com/kerzol/papers/blob/master/TODO">current TODO list</a>.
  </dd>
  
  <dt>Do you accept donations?</dt>
  <dd>Yes we do. Try this button {% include "donate.html" %}.
    <br>
    You can also tip me directly by using <script data-gratipay-username="kerzol"
     data-gratipay-widget="button"
     src="//grtp.co/v1.js"></script>. </dd>


</dl>

{% endblock %}

