{% extends "layout.html" %}
{% block title %}What's new? – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}


{% block body %}


<h1 class="center">Papers added during the last 30 days</h1>

<div class="centered">
  <table id="lastmonth-papers">
    <thead>
      <tr>
        <th> Title </th>
        <th class="nowrap"> Added By </th>
        <th> Date </th>
        <th> Discussion </th>
      </tr>
    </thead>
    <tbody>
      {% for n in notifs %}
        <tr>
          <td width="70%">
            <a href="{{n.link}}">
              {{n.text}}
            </a>
          </td>
          <td>
            <a href="{{n.link}}"
               class="black-no-underline">
              {{n.username}}
            </a>
          </td>
          <td class="nowrap">
            <a href="{{n.link}}"
               class="black-no-underline">
              {{
              n.createtime | short_date }}
            </a>
          </td>
          <td>
            <a href="{{n.link}}"
               class="black-no-underline">
              {% for cmnt in range(n.count_comment) %}💬 {% endfor %}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}

