{% extends "layout.html" %}
{% block title %}What's new? – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}


{% block body %}


<h1 class="center">Papers added during the last 30 days</h1>

<div class="centered">
  <table id="customers">
    <tr> 
      <th>Title</th> 
      <th> Added By</th>
      <th> Date</th>
      <th> Discussion</th>
    </tr>
    {% for n in notifs %}
      <tr>
        <td width="70%"><a href="{{n.link}}" class="notif">{{n.text}}</a></td>
        <td width="10%">{{n.username}}</td>
        <td width="16%">{{ n.createtime | short_datetime }}</td>
        {% if n.comment %}
          <td width="2%">*</td>
        {%else%}
          <td width="2%"></td>
        {%endif%}
      </tr>
  {% endfor %}
  </table>
</div>


{% endblock %}

