<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/style.css">

    <!-- wtf? from MathJax sample.html -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script type="text/javascript" src="/static/lib/marked/lib/marked.js"></script>
    <script type="text/javascript"
        src="/static/lib/jquery-1.10.2.min.js"></script>

    <script src="/static/lib/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>

  <script>
      marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false, //because of mathjax
        smartLists: true,
        smartypants: false
      });

      function PartialDescape (html) {
        var lines = html.split('\n');
        var out = '';

        // is true when we are
        // ```
        //  inside a code block
        // ```
        var inside_code = false;

        for (var i = 0; i < lines.length; i++) {
          // a hack to properly rendre the blockquotes
          if (lines[i].startsWith('&gt;')) {
            lines[i] = lines[i].replace(/&gt;/g, '>');
          }

          // rendrer properly stuff like this
          // ```c
          //  if (a > b)
          // ```
          if (inside_code) {
            // inside the code we descape stuff
            lines[i] = lines[i]
              .replace(/&lt;/g, '<')
              .replace(/&gt;/g, '>')
              .replace(/&quot;/g, '"')
              .replace(/&#39;/g, '\'');
          }
          if (lines[i].startsWith('```')) {
            inside_code = ! inside_code;
          }
          out += lines[i] + '\n';
        }

        return out;
      }
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]},
      });
      MathJax.Hub.Queue(function () {
        $(".cbody").each(function(){
          o=$(this).html();
          $(this).html(marked(PartialDescape(o)));
          $(this).removeClass("loading");
        });
      });
    </script>
    <script type="text/javascript"
            src="/static/lib/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>

    <script>

       $(document).ready(function(){

         // quote message into the comment
         $(".comment-action.reply a").each(function(){

           $(this).click(function() {
             var a = $(this);
             var source_id = a.attr('source-id');
             var comment = $('#' + source_id).text();
             var quote = comment.replace(/^>/mg, '>>')
                 .replace(/^([^>])/mg, '> $1');

             // take a a quote to the new_comment
             var new_comment = $('#marked-mathjax-input').val();
             $('#marked-mathjax-input').val(new_comment +
                                            '\n' +
                                            quote + '\n\n'
                                           );

             // Activate comment tab, useful if preview tab
             // was previously activated
             $('#tab_1').click();
             CommentPreview.Update();

             // scroll to the new comment
             $('html, body').animate({
               scrollTop: $("#marked-mathjax-input").offset().top
             }, 1000);
             return (false); //do not follow the link!
            });

          });

          $(".vote-block a").not('.anon').each(function(){
            $(this).mouseenter(function() {
               if ($(this).text() == '★') {
                  $(this).text('☆')
               } else {
                  $(this).text('★')
               }
            });

            $(this).mouseleave(function() {
               if ($(this).hasClass("liked")) {
                  $(this).text('★')
               } else {
                  $(this).text('☆')
               }
            });


            $(this).click(function() {
               var a = $(this);
               var target = $(this).attr("href");
               $.get(target, function( data ) {
                 a.siblings("div").text(data);

                 a.siblings("div").attr("title",
       data + " people like this paper")

                 if (a.hasClass("liked")) {
                    // paper is liked we unlike
                    a.removeClass("liked");
                    //dirty hack
                    //url..unlike  -> url..like
                    a.attr("href",
                           a.attr("href").replace(/\/unlike/,"/like"));
                    a.text('☆');
                 } else {
                    // paper is not liked we like
                    a.addClass("liked");
                    // dirty hack
                    // url..like  -> url..unlike
                    a.attr("href",
                           a.attr("href").replace(/\/like/,"/unlike"));
                    a.text('★');

                 }
               });
               return (false); //do not follow the link!
            });
          });
       });


    </script>


    {% block scripts %}{% endblock %}

    <title>{% block title %}{% endblock %} Papersᵞ {% block title2 %}{% endblock %}</title>
<!-- ᵅ ᵝ ᵞ ᵟ ᵋ ᶿ ᶥ ᶲ ᵠ ᵡ ᵦ ᵧ ᵨ ᵩ ᵪ -->
  </head>
  <body>

    <noscript>
      <div style="color:#CC0000; text-align:center">
        <b>Warning: <a href="http://www.mathjax.org/">MathJax</a>
          requires JavaScript to process the mathematics on this page.<br />
          If your browser supports JavaScript, be sure it is enabled.</b>
      </div>
      <hr>
    </noscript>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div id="big-container" class="{% block bigcontainerclass %}{% endblock %}">

      <a href="/news" class="news" title="Click to see the last updates">
        <img src="/static/img/tower.png">
        <span class="news-badge">9+</span>
      </a>
        
        
    <div id="banner">
      <h1>
        <a href="/" title="main page">
          Papers<sup>γ</sup></a>
        {% block banner2 %}{% endblock %}
      </h1>


      <div class="menuitem">
         {% if user_authenticated() %}
         <b><a
                     href="/{{session['user']['username'] | e}}"
                     title="Your home page">
            {{session['user']['username'] | e}}</a> </b> can
         {% endif %}
          <a href="/paper/add" title="add a new paper">Add paper</a> /
          <a href="/catalog"
             title="lists of domains, authors, keywords and users">See catalog</a> /

          {% if not user_authenticated() %}
           <a href="/login" title="Login">Login</a> /
           <a href="/register" title="or register">Register</a>
         {% else %}
            <a href="/logout" title="Logout">Logout</a>
          {% endif %}
            <br>

      {% if not search_page %}
      <div class="search">
        <form action="/catalog" method="get">
          <input type="search" value=""
                 placeholder="Search"
                 name="q"
                 size="20"/><input type="submit" value="Go!" >
        </form>
      </div>
      {% endif %}

      </div>



    </div> <!-- /banner -->


  {% block body %}
  {% endblock %}



    </div> <!-- /big-container -->

    <div id="banner-bottom">

      
      <div class="paypal-button">
        {% include "donate.html" %}
      </div>

      <div class="about-info">
        Papersᵞ — Discussion board for scientific
        papers <br>
        <a href="/partners-and-donors">Partners & Donors</a> /
        <a href="http://github.com/kerzol/papers">Source code</a> /
        <a href="/about">About</a> / <a href="/faq">F.A.Q</a><br>
      </div>

      <small>
        Broadcast tower icon comes from <a href="https://icons8.com">icon8 set</a> <br>
      </small>

    </div> <!-- /banner-bottom -->






  </body>
</html>
