{% extends "layout.html" %}
{% block title %}Partners & Donors – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}

<div class="partners">
  <h3> Partners & Donors </h3>


  <div class="labs">
    <h4> Institutions, labs </h4>

    <a href="http://www.complexnetworks.fr">
      <img src="/static/img/complexnetworks-fr.png" height="130px">
    </a>

  </div>

  <div class="individuals">
    <h4> Individuals: </h4>

    <ul>
      <li> <a href="http://www.tiphaineviard.com"> Tiphaine Viard </a>
      <li> <a href="https://sites.google.com/view/danisch"> Maximilien Danisch </a>
    </ul>
  </div>

</div>

{% endblock %}

