{% extends "layout.html" %}
{% block title %}Contributors – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}

<div class="partners">
  <h3> Contributors </h3>


  <div class="labs">
    <h4> Institutions, labs </h4>

    <a href="http://www.complexnetworks.fr">
      <img src="/static/img/complexnetworks-fr.png" height="100px">
    </a>

  </div>

  <div class="individuals">
    <h4> Individuals: </h4>

    <ul>
      <li> <a href="http://kirgizov.link"> Sergey Kirgizov </a>
      <li> <a href="http://www.tiphaineviard.com"> Tiphaine Viard </a>
      <li> <a href="https://sites.google.com/view/danisch"> Maximilien Danisch </a>

      <li> <a href="https://www-complexnetworks.lip6.fr/~ghanem/">
          Marwan Ghanem
        </a>

      <li> Allali Walid, student from ESIREM, special thanks for catalog improvements and ArXiv API study.

<!--
      <li> <a href="http://qlobbe.net/">Quentin Lobbé</a>
      <li> <a href="http://www.ngaumont.fr/">Noé Gaumont</a>
-->

    </ul>
  </div>

</div>

{% endblock %}

