{% extends "main-list.html" %}

{% block title %}{{user['username'] | e}} — {% endblock %}
{% block banner2 %}  
/
<a href="/{{user['username'] | e}}" 
   title="Papers liked/uploaded by {{user['username'] | e}}">
 {{user['username'] | e}}
</a>
{% endblock %}


{% block someinfo %}
<div class="userinfo">
  <h3>Wellcome to <em>{{user['username'] | e}}'s</em> library,</h3>
  
  &nbsp;  You  can  find  here all  papers  liked  or  uploaded  by
  {{user['username'] | e}}.

  <p>


  <h3> More info about <em>{{user['username'] | e}}:</em></h3>

  <div class="cbody">{{user['about']|e}}</div>
  
    {% if user_authenticated() and
          user['userid'] == session['user']['userid'] %}
      <br>
      <div style="float:left; padding-bottom:1em">
        {% if user['notifs_muted'] == 0 %}
        <a class="reddish-btn"
           href="/mute-email-notifs">Mute email notifications </a>
        {% else %}
        <a class="btn"
           href="/unmute-email-notifs">UN-mute email notifications </a>
        {% endif %}
      </div>
      <div style="float:right; padding-bottom:1em">
        <a href="/editinfo">Edit your personal information</a> /
        <a href="/change-password">Change password</a>
      </div>
    {% endif %}


<!--
  <p>
    <big> {{user['username'] | e}} follows: </big>
    i follow you, you and he.
  </p>

  <p>
    <big> They follow {{user['username'] | e}}: </big>
    he, she and he follows me.
  </p>

  <div style="margin-left:1ex; margin-top: 2em; margin-bottom: 1ex">
    <a href="/follow/{{user['username'] | e}}" title="Follow this user" class="btn">
      Follow this user</a>
  </div>
  -->
</div>
<div class="blueline"></div>
{% endblock %}
