{% extends "layout.html" %}
{% block title %}Login – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}



  <form action="/login" method="post" class=usualform
        style="width:21em;">
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
      </p>
     Maybe you should consider to
      <a href="/hi"> register </a> a new user ?
    {% endif %}
    <h1>Login</h1>

    <div class=right>
      <label for=email> E-mail: </label>
      <input id=email type=email name=email autofocus
             value="{{ request.form.email|e }}">
      <br/>
      <label for=pass> Password: </label>
      <input id=pass type=password name=password>
      <br/>
      <small>
        <a href="/change-password"> Forgot your password? </a>
      </small>
      <br/>

      <div style="margin-right:11em;">
        <label for=remebmerme> Remember me: </label>
        <input id=rememberme type="checkbox" name="rememberme">
      </div>
    </div>

    <div class="send">
      <input class=btn type=submit name=login value=Login>
    </div>


  </form>

{% endblock %}
