{% extends "layout.html" %}
{% block title %}Register – {% endblock %}
{% block bigcontainerclass %}white{% endblock %}
{% block body %}

  <form action="/reg" method="post" class=usualform
        style="width: 22em;">
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <h1>Register</h1>
    
    <div class=right>
      <label for=email> E-mail: </label>
      <input id=email type=email name=email autofocus
             required
             value="{{ request.form.email|e }}">
      <br/>
      <label for=username> Name: </label>
      <input id=username type=text name=username
             required
             value="{{ request.form.username|e }}">
      <br/>
      <label for=pass1> Password: </label>
      <input id=pass1 type=password name=password1 required>
      <br/>

      <label for=pass2> Retype password: </label>
      <input id=pass2 type=password name=password2 required>
      
      {{ captcha_html(captcha) | safe }}
    </div>
    
    <div class="send">
      <input class=btn type=submit value="Register"/>
    </div>

  </form>

{% endblock %}
