{% extends "layout.html" %}
{% block bigcontainerclass %}white{% endblock %}

{% block scripts %}
<script>
 //Check if domain/tag/author exists before submiting
    function validateForm() {

        var availableKeywords = [
            {% set jn = joiner('","') %}
            "{% for k in keywords %}{{jn()|safe}}{{k.keyword}}{% endfor %}"
        ];

    var availableAuthors = [
        {% set jn = joiner('","') %}
            "{% for a in authors %}{{jn()|safe}}{{a.fullname}}{% endfor %}"
        ];

    var availableDomains = [
        {% set jn = joiner('","') %}
            "{% for d in domains %}{{jn()|safe}}{{d.domainname}}{% endfor %}"
        ];

    //Concatenating domains/authors/tags in on variable to check existence
    var availableNames = availableDomains.concat(availableAuthors, availableKeywords);
    availableNames = availableNames.map(name => name.toLowerCase());
    var name = document.forms["editing"]["name"].value.toLowerCase();
    if (availableNames.includes(name)) {
        alert("{{editname}} already exist!");
        return false;
    }
}
</script>

<link rel="stylesheet" href="/static/lib/jquery-ui-1.10.4.custom/css/no-theme/jquery-ui-1.10.4.custom.min.css">
<style>
    .ui-autocomplete {
        border-style: solid;
        border-color: #CCCCCC;
        border-width: 1px;
        background-color: #F5f5f5;
    }

    .ui-state-focus {
        background-color: #A5B7C5;
    }
</style>
{% endblock %}

{% block title %}Edit existing {{editname}} – {% endblock %}
{% block body %}
{% if not user_authenticated() %}
<div style="margin-left:auto; margin-right:auto; max-width:37em">
    <p>
        Hello stranger, <br><br>
        if you want to be a recognized user, you should
        <a href="/login">login</a> or <a href="/reg">register</a>.
        Otherwise you may upload a paper anonymously.
        <br>
        <br>
    </p>
</div>
{% endif %}

<form name="editing" action="/{{editname}}/edit/{{name}}" method="post" class="addarticleform"
    enctype="multipart/form-data" onsubmit="return validateForm()">
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
    <h1>{{titleD}}</h1>
    <div class=right>
        <label for=id> ID: </label>
        <input id=id type=text name=id readonly autofocus value="{{ request.form.id|e }}">
        <br>
        <label for=name> <span style="text-transform:capitalize">{{editname}}: </span></label>
        <input id=name type=text name=name required value="{{ request.form.name|e }}" />
        <br>
    </div>
    <div class="send">
        <input class=btn type=submit value="Update the {{editname}}" id="btn_update" />
    </div>
</form>
{% endblock %}
