{% extends "catalog/catalog.html" %}
{% block title %} {{keyword}} – {% endblock %}
{% block before_list %}
<h4>Papers with tag <em>{{keyword}}</em>
  {% if user_authenticated() %}
      {% if entry.keyword | can_edit_tag %}
        [{% if tag_not_assc %}
          <a title="Delete the tag" onclick="return confirm('You really want to delete the tag ?')"
            href="/tag/delete/{{keyword}}">remove</a> / 
        {% endif %}
        <a title="Modify the tag name  " href="/tag/edit/{{keyword}}">edit</a> ]
      {% endif %}
  {% endif %}
</h4>
{% endblock %}