{% extends "catalog/catalog.html" %}
{% block title %} Author {{fullname}} – {% endblock %}
{% block before_list %}
<h4>Papers of <em>{{fullname}}</em>
  {% if user_authenticated() %}
      {% if entry.fullname | can_edit_author %}
      [{% if author_not_assc %}
          <a title="Delete the domain" onclick="return confirm('You really want to delete the author ?')"
            href="/author/delete/{{fullname}}">remove </a> / 
        {% endif %}    
      <a title="Modify the author's fullname  " href="/author/edit/{{fullname}}">edit </a>]
      {% endif %}
  {% endif %}
</h4>
{% endblock %}